html {
    background: #000;
}

body {
    background: #111111;
    margin: 0;
    padding: 0;
}

#billboard {
    position: absolute;
    background: url(../images/home/billboard_bg.jpg);
    width: 100%;
    height: 100%;
}

#billboard::after {
    content: "";
    position: absolute;
    top: 0;
    background: #000000;
    opacity: .75;
    width: 100%;
    height: 100%;
}

#billboard .container {
    z-index: 99;
    position: relative;
    max-width: 1600px;
    width: 100%;
    margin: 100px auto;
}

#billboard_photo_frame {
    position: relative;
    top: 80px;
    max-width: 460px;
    width: 100%;
}

#billboard_skills {
    position: absolute;
    top: 35px;
    right: 0;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.box_container {
    position: relative;
    max-width: 460;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.billboard_box_title {
    position: relative;
    margin-bottom: 20px;
    font-family: Arial, Sans-serif;
    font-size: 25px;
    text-align: center;
    color: #FFF;
}

.billboard_boxes {
    display: inline-block;
    position: relative;
    max-width: 125px;
    width: 100%;
    height: 40px;
    margin: 10px 0 0 5px;
    border: 1px solid #FFF;
    border-radius: 2px;
}

.billboard_boxes:hover {
    opacity: .68;
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -o-transition:.4s;
    transition:.4s;
    -webkit-transition: translate3d(0,0,0);
}

.billboard_boxes p {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-family: Arial, Sans-serif;
    text-align: center;
    color: #FFF;
    cursor: default;
}

#billboard_tools {
    max-width: 460;
    width: 100%;
    margin-bottom: 40px;
}

#billboard_concepts {
    max-width: 460px;
    width: 100%;
}

#contact_me {
    float: left;
    max-width: 407px;
    width: 100%;
    margin: 40px 0 0 100px;
}

#contact_form_bg {
    background: rgba(0,0,0,.45);
    float: right;
    height: 447px;
    width: 293px;
    margin: 40px 160px 0 0;
    border: 1px solid #FFF;
    overflow: scroll;
}

#contact_form_header {
    width: 258px;
    margin: 15px auto 0;
    color: #FFF;
    text-align: center;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 17px;
}

#contact_form {
    margin: 28px auto 0;
}

.text_field {
    width: 212px;
    height: 45px;
    margin: 0 0 15px 31px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 2px;
    padding-left: 8px;
    color: #FFF;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 14px;
}

.text_area {
    width: 212px;
    height: 130px;
    margin: 0 0 15px 31px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 2px;
    padding: 15px 2px 0 8px;
    color: #FFF;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 14px;
}

#btn_submit {
    width: 228px;
    height: 45px;
    margin-left: 31px;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 2px;
    color: #FFF;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 14px;
}

#btn_submit:hover {
    background: rgba(255,255,255,.6);
    color: #FF2626;
    cursor: pointer;
}

#contact_links {
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 200px;
    max-width: 330px;
    width: 100%;

}

#contact_links li {
    float: left;
    background: #555555;
    width: 67px;
    height: 67px;
    margin-right: 15px;
    border-radius: 150px;
    transition: .7s;
}

#contact_links li:hover {
    background: #FFF;
}

#contact_links li img {
    margin-left: -5px;
}

::-webkit-input-placeholder {
    color: #FFF;
    font-family: Verdana, Arial, Sans-serif;
    font-size: 14px;
}

@media only screen and (max-width:1200px) {
    
    #billboard_skills {
        right: 32px;
    }

    #billboard_photo_frame {
        left: 0;
    }
}

@media only screen and (max-width: 960px) {
    
    body {
        height: 100%;
    }
    
    #billboard .container {
        max-width: 460px;
        width: 100%;
    }

    #billboard_skills {
        position: static;
        margin-top: 150px;
    }
    
    #contact_links {
        top: 50px;
    }
}

@media only screen and (max-width: 600px) {

    #billboard_photo_frame {
        top: 40px;
    }

    #billboard_skills {
        margin-top: 100px;   
        margin-left: auto;
        margin-right: auto;
    }

    #contact_links {
        top: 20px;
        left: 10px;
    }

    #contact_links li {
        width: 35px;
        height: 35px;
    }

    #contact_links li img {
        width: 32px;
        height: 32px;
        margin: auto;
    }
}


