.wun_bg {
	background-image: url(../images/work_wun_covered.jpg);
}

.wun_green_bg {
	position: relative;
	background: #459FAA;
	height: 100%;
}

.svbg_clr { 
	display: none;
	background-color: rgba(69,159,170, 0.4);
}

#site_view_container {
	max-width: 115px;
}

#site_view {
	max-width: 115px;
}

a:hover #site_view {
	background-color: #459FAA;
}

#wireframe_title p {
	color: #FFF;
}

#index_photo {
	max-width: 744px;
	width: 100%;
	margin: 475px auto 120px;
}

.guide_photo {
	max-width: 790px;
	width: 100%;
	margin: 460px auto 120px;
}

#feature_photo1 {
	float: right;
	max-width: 646px;
	width: 100%;
	margin-top: 65px;
}

#feature_photo2 {
	float: right;
	max-width: 646px;
	width: 100%;
	margin-top: 50px;
}

.analysis_photo_no_content {
	margin-top: 50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

	#feature_photo1 {
		max-width: 630px;
	}

	#feature_photo2 {
		max-width: 630px;
	}
}

@media only screen and (max-width: 768px) {

	#feature_photo1 {
		margin-top: 275px;
	}
}

@media only screen and (max-width: 414px) {

	#site_view {
		margin-top: 450px;
	}

	#intro_photo {
		margin-top: 550px;
	}

	.guide_photo {
		margin-top: 530px;		
	}

	#feature_photo1 {
		margin-top: 290px;
	}

	#referral_photo {
		margin-top: 350px;
	}

	#referral_signup_photo {
		margin-top: 325px;
	}

	#welcome_photo {
		margin-top: 375px;
	}

	#destination_photo {
		margin-top: 375px;
	}
}

@media only screen and (max-width: 375px) {

	#site_view {
		margin-top: 510px;
	}

	#intro_photo {
		margin-top: 610px;
	}

	.screen_375px_title_margin p {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 320px) {

	#site_view {
		margin-top: 550px;
	}

	#intro_photo {
		margin-top: 650px;
	}

	.screen_320px_title_margin p {
		margin-top: 30px;
	}

	.guide_photo {
		margin-top: 560px;		
	}

	#feature_photo1 {
		margin-top: 310px;
	}

	#referral_photo {
		margin-top: 400px;
	}

	#referral_signup_photo {
		margin-top: 360px;
	}

	#welcome_photo {
		margin-top: 410px;
	}

	#referral_form_photo {
		margin-top: 310px;
	}

	#destination_photo {
		margin-top: 410px;
	}
}