.infiniti_bg {
	background-image: url(../images/work_infiniti_covered.jpg);
}

.brown_bg {
	position: relative;
	background: #CDC6BD;
	height: 100%;
}

.svbg_clr { 
	display: none;
	background-color: rgba(205, 198, 189, 0.4);
}

a:hover #site_view {
	background-color: #CDC6BD;
}

a:hover #site_view p {
	color: #FFF;
}

.landing_photo {
	max-width: 800px;
	width: 100%;
	margin: 550px auto 120px;
}

#gallery_photo1 {
	float: right;
	max-width: 646px;
	width: 100%;
	margin-top: 65px;
}

#gallery_photo2 {
	float: right;
	max-width: 646px;
	width: 100%;
	margin-top: 50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

	#gallery_photo1 {
		max-width: 630px;
	}

	#gallery_photo2 {
		max-width: 630px;
	}
}

@media only screen and (max-width: 768px) {

	#gallery_photo1 {
		margin-top: 300px;
	}
}

@media only screen and (max-width: 414px) {

	#site_view {
		margin-top: 410px;
	}

	#intro_photo {
		margin-top: 520px;
	}

	.landing_photo {
		margin-top: 650px;		
	}

	#gallery_photo1 {
		margin-top: 375px;
	}

	#specs_photo {
		margin-top: 400px;
	}

	#quote_photo {
		margin-top: 400px;
	}
}

@media only screen and (max-width: 375px) {

	#site_view {
		margin-top: 420px;	
	}
}

@media only screen and (max-width: 320px) {

	#site_view {
		margin-top: 450px;
	}

	#intro_photo {
		margin-top: 550px;
	}

	.landing_photo {
		margin-top: 700px;		
	}

	.analysis_content_sideview p {
		margin-top: 150px;
	}

	#gallery_photo1 {
		margin-top: 430px;
	}

	#specs_photo {
		margin-top: 430px;
	}

	#quote_photo {
		margin-top: 450px;
	}
}