.realitiy_bg {
	background-image: url(../images/work/work_realitiy_covered.jpg);
}

.green_bg {
	position: relative;
	background: #7ACD4A;
	height: 100%;
}

.svbg_clr { 
	display: none;
	background-color: rgba(96, 215, 0, 0.4);
}

#site_view {
	border-color: #000;
}

a:hover #site_view {
	background-color: #60D700;
}

#intro_photo_container {
	max-width: 600px;
}

#intro_photo {
	max-width: 600px;
}

#wireframe_title p {
	color: #FFF;
}

#wireframe4 {
	margin-top: -210px;
}

.home_photo {
	max-width: 744px;
	width: 100%;
	margin: 500px auto 120px;
}

#specs_photo {
	max-width: 190px;
	width: 100%;
	margin-top: 300px; 
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

	#wireframe4 {
		margin-top: -145px;
	}

	.home_photo {
		margin-left: 0;		
	}
}

@media only screen and (max-width: 768px) {

	#wireframe4 {
		margin-top: 0;
	}
}

@media only screen and (max-width: 414px) {

	#site_view {
		margin-top: 390px;
	}

	#intro_photo {
		margin-top: 480px;
	}

	.home_photo {
		margin-top: 590px;
		margin-bottom: 0;
	}

	.specs_photo {
		margin-top: 320px;
	}
}

@media only screen and (max-width: 375px) {

	.home_photo {
		margin-top: 600px;
	}
}

@media only screen and (max-width: 320px) {

	#site_view {
		margin-top: 510px;
	}

	#intro_photo {
		margin-top: 600px;
	}

	.home_photo {
		margin-top: 640px;
	}

	.specs_photo {
		margin-top: 360px;
	}
}