

body {
	background: #000;
	
}

.work_container {
	max-width: 925px;
	width: 100%;
	margin: 0 auto 40px;
	overflow: hidden;
}

#work_preview_text_blueprint {
	position: absolute;
	z-index: 1;
	margin: 375px 0 0 300px;
	text-align: center;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 50px;
	color: #CCCCCC;
}

#work_preview_text_flixer {
	position: absolute;
	z-index: 1;
	margin: 375px 0 0 395px;
	text-align: center;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 50px;
	color: #CCCCCC;
}

#work_preview_text_realitiy {
	position: absolute;
	z-index: 1;
	margin: 375px 0 0 37px;
	text-align: center;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 50px;
	color: #CCCCCC;
}

#work_preview_text_infiniti {
	position: absolute;
	z-index: 1;
	margin: 375px 0 0 193px;
	text-align: center;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 50px;
	color: #CCCCCC;
}

#work_preview_text_wun {
	position: absolute;
	z-index: 1;
	margin: 375px 0 0 20px;
	text-align: center;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 50px;
	color: #CCCCCC;
}

.work_preview {
	display: block;
	margin: 120px auto 0;
	max-width: 925px;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.work_border {
	border-radius: 5px;
	border: 1px solid #444444;
}

a:hover .work_preview {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
}

.glow_blueprint {
	border-radius: 5px;
	transition: 2s;
}

a:hover .glow_blueprint {
	box-shadow: 0 0 1px 10px #3863A0 inset;
}

.glow_flixer {
	border-radius: 5px;
	transition: 2s;
}

a:hover .glow_flixer {
	box-shadow: 0 0 1px 10px #FFBF00 inset;
}

.glow_realitiy {
	border-radius: 5px;
	transition: 2s;
}

a:hover .glow_realitiy {
	box-shadow: 0 0 1px 10px #60D700 inset;
}

.glow_infiniti {
	border-radius: 5px;
	transition: 2s;
}

a:hover .glow_infiniti {
	box-shadow: 0 0 1px 10px #CDC6BD inset;
}

.glow_wun {
	border-radius: 5px;
	transition: 2s;
}

a:hover .glow_wun {
	box-shadow: 0 0 1px 10px  #00BFFF inset;
}

@media only screen and (max-width: 960px) {

	#work_preview_text_blueprint {
		margin-top: 43%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-size: 40px;
	}

	#work_preview_text_flixer {
		margin-top: 43%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-size: 40px;
	}

	#work_preview_text_realitiy {
		margin-top: 43%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-size: 40px;
	}

	#work_preview_text_infiniti {
		margin-top: 43%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-size: 40px;
	}

	#work_preview_text_wun {
		margin-top: 43%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-size: 40px;
	}
}

@media only screen and (max-width: 600px) {

	#work_preview_text_blueprint {
		margin-top: 47%;
		font-size: 25px;
	}

	#work_preview_text_flixer {
		margin-top: 47%;
		font-size: 25px;
	}

	#work_preview_text_realitiy {
		margin-top: 47%;
		font-size: 25px;
	}

	#work_preview_text_infiniti {
		margin-top: 47%;
		font-size: 25px;
	}

	#work_preview_text_wun {
		margin-top: 47%;
		font-size: 25px;
	}
}

@media only screen and (max-width: 480px) {

	#work_preview_text_blueprint {
		margin-top: 59%;
	}

	#work_preview_text_flixer {
		margin-top: 59%;
	}

	#work_preview_text_realitiy {
		margin-top: 57%;
	}

	#work_preview_text_infiniti {
		margin-top: 57%;
	}

	#work_preview_text_wun {
		margin-top: 57%;
	}
}

@media only screen and (max-width: 440px) {

	#work_preview_text_blueprint {
		margin-top: 57%;
	}

	#work_preview_text_flixer {
		margin-top: 57%;
	}

	#work_preview_text_realitiy {
		margin-top: 55%;
	}

	#work_preview_text_infiniti {
		margin-top: 57%;
	}

	#work_preview_text_wun {
		margin-top: 55%;
	}
}

@media only screen and (max-width: 375px) {

	#work_preview_text_blueprint {
		margin-top: 60%;
	}

	#work_preview_text_flixer {
		margin-top: 60%;
	}

	#work_preview_text_realitiy {
		margin-top: 57%;
		font-size: 26px;
	}

	#work_preview_text_infiniti {
		margin-top: 59%;
	}

	#work_preview_text_wun {
		margin-top: 57%;
	}
}

@media only screen and (max-width: 320px) {

	#work_preview_text_blueprint {
		margin-top: 65%;
	}

	#work_preview_text_flixer {
		margin-top: 65%;
	}

	#work_preview_text_realitiy {
		margin-top: 60%;
		font-size: 26px;
	}

	#work_preview_text_infiniti {
		margin-top: 64%;
	}

	#work_preview_text_wun {
		margin-top: 63%;
	}
}